body {
  padding: 3rem;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;

  display: flex;
  flex-direction: column;
}

a {
  color: #8600a8;
}

button {
  background: none;
  border: none;
  padding: 0;
  /*optional*/
  font-family: inherit;
  font-size: inherit;
  color: #8600a8;
  text-decoration: underline;
  cursor: pointer;
}

img {
  height: 10rem;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  max-width: 30rem;
}

.errors {
  color: red;
}