extends layout

block content
    div DASHBOARD PAGE AT ROUTE GET "/dashboard"
    div --
    a(href="/") Home
    div --
    a(href="/superhero") Superheroes // View Templates From MongoDB
    a(href="/react") Superheroes // API To React From MongoDB
    // Add link to: Messages - View Templates From MySQL
    // Add link to: Messages - API To React From MySQL
