extends layout

block content
    div DASHBOARD PAGE AT ROUTE GET "/dashboard"
    div --\
    a(href="/") Home
    div --\
    a(href="/superhero") Superheroes // View Templates From MongoDB
    a(href="/api/superhero") Superheroes // API To React From MongoDB
